.icon {
    margin: 10px;
    width: 30px;
    height: 30px;
    padding: 1px;
}

.icon-home {
    background-image: url('../assets/icons/home_vector.svg');
}
.icon-likes {
    background-image: url('../assets/icons/likes_vector.svg');
}
.icon-history {
    background-image: url('../assets/icons/history_vector.svg');
}

.menu_item{
    margin-top: 1rem;
    border-style:hidden;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.contract{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  width: 40px;
  overflow-y: auto;
}

.menu_item:hover {
    transition: 0.3s ease;
    background: linear-gradient(to bottom right, rgb(246, 104, 104), white );
}